/* ===========================
   Responsive.css
=========================== */

/* ====== 1200px ====== */

@media (max-width:1200px){

section{

    padding:90px 6%;

}

.hero h1{

    font-size:70px;

}

.route-list{

    grid-template-columns:repeat(2,1fr);

}

.study-grid{

    grid-template-columns:repeat(2,1fr);

}

.about-grid{

    grid-template-columns:repeat(2,1fr);

}

.advantage-grid{

    grid-template-columns:repeat(2,1fr);

}

}

/* ====== 992px ====== */

@media (max-width:992px){

header{

    padding:0 30px;

}

nav{

    display:none;

}

.hero h1{

    font-size:58px;

    letter-spacing:8px;

}

.hero h2{

    font-size:18px;

}

.section-title h2{

    font-size:38px;

}

.route-list{

    grid-template-columns:1fr;

}

.study-grid{

    grid-template-columns:1fr 1fr;

}

.about-grid{

    grid-template-columns:1fr;

}

.advantage-grid{

    grid-template-columns:1fr 1fr;

}

}

/* ====== 768px ====== */

@media (max-width:768px){

.hero{

    height:90vh;

}

.hero h1{

    font-size:42px;

}

.hero h2{

    font-size:16px;

    letter-spacing:4px;

}

.hero p{

    font-size:15px;

}

.buttons{

    flex-direction:column;

    align-items:center;

}

.section-title h2{

    font-size:32px;

}

.study-grid{

    grid-template-columns:1fr;

}

.advantage-grid{

    grid-template-columns:1fr;

}

.footer-logo{

    font-size:24px;

}

}

/* ====== 576px ====== */

@media (max-width:576px){

header{

    height:70px;

}

.logo{

    font-size:22px;

}

.hero h1{

    font-size:34px;

}

.hero p{

    width:100%;

}

.about-card,

.study-card{

    padding:30px;

}

.route-card img{

    height:260px;

}

section{

    padding:70px 20px;

}

}

@media(max-width:992px){

.route-grid{

grid-template-columns:1fr;

}

.advantage-grid{

grid-template-columns:1fr;

}

}

@media(max-width:992px){

.highlight-grid{

    grid-template-columns:1fr;

}

}
